.mainbody{
background-image: url(image/anime_art__07___8k_wallpaper_by_lizhi609_dg42r1t-fullview.jpg);
background-size: cover;
}
.numero1{
    color: black;
    text-align: center;
    margin-top: 290px;
}
.Link1{
    text-align: center;
}
